.archive {
	--column-grid-gap: var(--archive-grid-gap);
}

.archive header {
	position: relative;
}

.archive .subtitle {
	--flow-space: 0.5em;
	max-inline-size: 27ch;
}

.archive ol {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--archive-grid-gap);
	block-size: max-content;
}

@media (min-width: 60rem) {
	.archive ol {
		grid-template-columns: 1fr 1fr;
	}
}

.archive li {
	--stack-gap: 0.75rem;
	--radius: 1px;
	border-radius: var(--radius);
	outline: 1px solid transparent;
	outline-offset: calc(1 / 2 * var(--body-inline-padding));
	transition: all 333ms ease;
}

.archive li {
	position: relative;
}

.archive li a::before {
	content: "";
	position: absolute;
	inset: 0;
}

.archive li h2 {
	font-size: var(--step-1);
}

.archive li h2 * {
	font-size: 1em;
}

.archive li .content {
	font-size: 1rem;
}

.archive li h2 ~ * {
	transition: all 333ms ease;
}

.archive li time {
	margin-block-start: auto;
}

.archive li a:focus-visible {
	outline: none;
	text-decoration: underline;
}

.archive li:hover,
.archive li:focus-within {
	outline: 1px solid var(--accent);
}

:is(.archive li:hover, .archive li:focus-within) h2 ~ * {
	color: var(--accent);
}
