.contact {
	--stack-gap: var(--main-padding-block);
	min-block-size: 100%;
}

.introduction {
	text-wrap: balance;
}

.body {
	margin-block-start: auto;
}

.contact .info-container {
	--cluster-gap: var(--space-l-xl) var(--space-2xl-3xl);
}

.info-box {
	--stack-gap: 1ex 0;
}

.socials ul {
	--cluster-gap: 1em;
}

.socials a {
	--cluster-gap: 0.25em;
}
