/* Show a custom outline on :focus-visible */
:focus-visible {
	outline: var(--focus-border-thickness) solid var(--color-brand-border-primary);
	outline-offset: var(--focus-border-thickness);
	border-radius: var(--border-radius);
	text-decoration: none;
}

[tabindex="-1"]:focus {
	outline: none;
}

/* 
	I've implemented a custom focus ring for these links
	so the default is not needed
*/
:is(.site-head, .site-footer, .pagination) a:focus-visible,
.back-to-notes:focus-visible {
	outline: none;
}

/* custom focus ring */
:is(.site-head, .site-footer, .pagination) a:before,
.back-to-notes:before {
	content: "";
	position: absolute;
	inset: var(--link-padding) calc(-1 / 4 * var(--gutter));
	border-radius: var(--border-radius);
	pointer-events: none;
	/* z-index: -1; */
}

:is(.site-head, .site-footer, .pagination) a:focus-visible:before,
.back-to-notes:focus-visible:before {
	outline: var(--focus-border-thickness) solid
		var(--color-brand-border-secondary);
}
