/* TODO: optimise font files */
@font-face {
	font-family: "OnestRegular";
	font-display: swap;
	src: url("/assets/fonts/OnestRegular1602-hint-subset.woff?{{ assetHash }}")
			format("woff"),
		url("/assets/fonts/OnestRegular1602-hint-subset.woff2?{{ assetHash }}")
			format("woff2");
}

@font-face {
	font-family: "OnestMedium";
	font-display: swap;
	src: url("/assets/fonts/OnestMedium1602-hint-subset.woff?{{ assetHash }}")
			format("woff"),
		url("/assets/fonts/OnestMedium1602-hint-subset.woff2?{{ assetHash }}")
			format("woff2");
}

:root {
	/* Variables for type */
	--font-plain: "OnestRegular", -apple-system, BlinkMacSystemFont,
		helvetica neue, helvetica, avenir next, avenir, segoe ui, roboto, noto,
		arial, sans-serif;

	--font-special: "OnestMedium", -apple-system, BlinkMacSystemFont,
		helvetica neue, helvetica, avenir next, avenir, segoe ui, roboto, noto,
		arial, sans-serif;

	--font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
		Droid Serif, Times, Source Serif Pro, serif;

	--font-monospace: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco,
		Consolas, "Liberation Mono", "Courier New", monospace;
}
