.site-head {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 0 1em;
	font-size: var(--nav-font-size, var(--step-0));
	letter-spacing: var(--nav-letter-spacing, normal);
	border-block-end: var(--border-thickness) solid
		var(--color-neutral-border-primary);
}

.site-head a {
	position: relative;
	padding-block: var(--link-padding);
	text-decoration: none;
}

.site-head a:after {
	--text-decoration-size: var(--space-4xs);

	content: "";
	position: absolute;
	inset-block-end: calc(
		-1 / 2 * (var(--text-decoration-size) + var(--border-thickness))
	);
	inset-inline-start: auto;
	inset-inline-end: 0;
	inline-size: 0%;
	block-size: var(--text-decoration-size);

	background-color: transparent;
	border-radius: var(--border-radius);
	/* z-index: 3; */

	transition-property: inset, inline-size, background-color;
	transition-duration: 333ms;
	transition-timing-function: ease;
}

.site-head a:hover:after,
.site-head [aria-current="page"]:after,
.site-head [data-state="active"]:after {
	inset-inline-start: 0;
	inset-inline-end: auto;
	inline-size: 100%;
	background-color: var(--color-brand-bg-secondary);
}

.site-logo {
	--cluster-gap: 0.5em;
	display: inline-flex;
}

.site-logo img {
	block-size: calc(1em * var(--line-height-body));
	inline-size: auto;
}

:is(.site-logo, .copyright) span {
	display: none;
	pointer-events: none;
}

/* when hover is the user's primary input mechanism */
@media (hover: hover) {
	:is(.site-logo, .copyright) span {
		display: unset;
		position: absolute;
		inline-size: max-content;
		inset-block-start: 50%;
		inset-inline-start: 100%;
		padding-inline-start: 1ch;
		transform: translate(-1ch, -50%);
		opacity: 0;
		transition: transform 150ms ease, opacity 150ms ease;
	}

	:is(.site-logo, .copyright):hover span {
		transform: translate(0, -50%);
		opacity: 1;
	}
}

:where(#mainnav) button {
	display: none;
}

.mainnav-list {
	--cluster-gap: 0 var(--gutter);
	/* --cluster-horizontal-alignment: space-between; */
	--cluster-horizontal-alignment: end;
}

.mainnav-list a {
	display: inline-block;
}

/* Where the view port size is less than 640px and javascript is available */
@media (max-width: 40rem) {
	.has-js .site-head {
		display: block;
	}

	.has-js .mainnav-list-container {
		display: grid;
		grid-template-rows: 0fr;
		overflow: hidden;
		transition: grid-template-rows 111ms ease;
	}

	.has-js [aria-expanded="true"] + .mainnav-list-container {
		grid-template-rows: 1fr;
		border-block-start: var(--border-thickness) solid
			var(--color-neutral-border-primary);
		overflow: visible;
		transition-duration: 333ms;
	}

	.has-js .mainnav-list {
		opacity: 0;
		visibility: hidden;
		min-block-size: 0;
	}

	.has-js [aria-expanded="true"] + .mainnav-list-container .mainnav-list {
		opacity: 1;
		visibility: visible;
		transition: opacity 333ms ease 222ms;
	}

	:where(.has-js #mainnav) button {
		--cluster-gap: 0.5em;
		display: flex;
		position: absolute;
		inset-block-start: var(--link-padding);
		inset-inline-end: 0;
	}

	:where(.has-js #mainnav) button svg {
		fill: currentColor;
		inline-size: calc(1em * var(--line-height-body));
		block-size: auto;
		/* translate: 0 2px; */
	}

	:where(.has-js #mainnav) button svg rect {
		transition-property: transform, opacity;
		transition-duration: 222ms;
		transition-timing-function: ease-in-out;
		transform-origin: center center;
	}

	:where(.has-js #mainnav) [aria-expanded="true"] .bar {
		opacity: 0;
	}

	:where(.has-js #mainnav) [aria-expanded="true"] #turn1 {
		transform: rotate(45deg);
	}

	:where(.has-js #mainnav) [aria-expanded="true"] #turn2 {
		transform: rotate(-45deg);
	}
}
