.hero {
	--hero-h1-line-height: var(--space-l-2xl);
	min-block-size: 100%;
}

.hero p {
	opacity: 0;
	animation-name: fade;
	animation-duration: 999ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

.hero p:first-of-type {
	font-size: var(--space-m-xl);
	line-height: var(--hero-h1-line-height);
	letter-spacing: -0.015em;

	translate: 0 calc(-23.1464737794 / 100 * var(--hero-h1-line-height));
}

.hero p:last-of-type {
	margin-block-start: auto;
	max-inline-size: 45ch;
	animation-delay: 555ms;
}

.hero a {
	hyphens: initial;
}

.hero img {
	display: inline-block;
	block-size: var(--hero-h1-line-height);
	inline-size: auto;
	vertical-align: baseline;
	margin-inline: 0.25ch;

	transform: translateY(16.25%);
	clip-path: var(--pixelated-corners);
}
