.likes {
	grid-template-columns: 1fr;
}

.likes > header {
	--stack-gap: var(--space-s-xs);
}

@media (min-width: 48rem) {
	.likes {
		grid-template-columns: 1fr 2fr;
	}

	.likes > header {
		align-self: start;
		position: sticky;
		inset-block-start: var(--main-padding-block);
	}
}

.likes-list > li {
	--grid-gap: var(--space-2xs);

	position: relative;
	grid-template-columns: auto 1fr;
	align-items: flex-start;
	padding-block: var(--space-xs);
}

.likes-list > li + li {
	border-block-start: var(--border-thickness) dotted
		var(--color-neutral-border-primary);
}

.likes-list a {
	font-weight: 500;
	text-decoration: none;
}

.likes-list a:after {
	content: "";
	position: absolute;
	inset: 0;
}

.likes-list :is(.tags-list, .tags-list > li) {
	display: inline-block;
}

.likes .icon-container {
	--icon-container-size: 1lh;
}

.likes .arrow path {
	rotate: -45deg;
}

.likes-list li:has(a:where(:hover, :focus)) .square {
	rotate: 90deg;
	scale: 0.8;
}

.likes-list li:has(a:where(:hover, :focus)) .arrow {
	opacity: 1;
	scale: 1;
}

@media not (hover: hover) {
	.likes-list .square {
		rotate: 90deg;
		scale: 0.8;
	}

	.likes-list .arrow {
		opacity: 1;
		scale: 1;
	}
}
