.note {
	max-inline-size: var(--measure);
	margin-inline: auto;
}

.footnote-item div {
	--grid-gap: 1ch;
	grid-template-columns: auto 1fr;
	font-variant: tabular-nums;
}

.footnote-backref {
	padding-inline: 0.5ch;
}

.note .tags-list {
	--flow-space: var(--space-m-l);
	--cluster-horizontal-alignment: end;
	position: relative;
}

.note .tags-list:before {
	content: "";
	position: absolute;
	block-size: var(--border-thickness);
	inline-size: 100%;
	background-color: var(--color-neutral-border-secondary);
	flex-grow: 999;
}

.note .tags-list li {
	z-index: 1;
}

.note footer {
	--flow-space: var(--space-m-l);

	padding: var(--space-s-m) var(--gutter);
	background-color: var(--color-neutral-bg-tertiary);
	/* box-shadow: var(--shadow-2); */
	border-radius: var(--border-radius);
	outline: var(--border-thickness) solid var(--color-neutral-border-tertiary);
}

.note footer > * {
	--flow-space: 1em;
}

.back-to-notes {
	--flow-space: 0;
	--cluster-vertical-alignment: center;
	--cluster-gap: var(--space-2xs);
	position: relative;
	display: inline-flex;
	padding-block: var(--link-padding);
}
