.note {
	--column-grid-gap: var(--note-grid-gap);
	margin-inline: auto;
}

.note .body :where(h2, h3) {
	--flow-space: calc(var(--line-height) * 1em);
}

.note .body .codetitle {
	--flow-space: var(--step-0);
}

.note .body .codetitle + pre {
	--flow-space: 0.5em;
}

.note h1 code {
	font-size: 1em;
}

.note .body li + li {
	margin-block-start: var(--flow-space, 0.5em);
}

.note .body img,
.note .body pre,
.note footer {
	min-inline-size: calc(100% + (2 * var(--body-inline-padding)));
	margin-inline-start: calc(-1 * var(--body-inline-padding));
	border-radius: var(--radius);
}

.note .meta-info {
	--cluster-gap: 0.5em;
	display: flex;
	flex-direction: row;
	gap: var(--cluster-gap);
	translate: 0 calc(-1 * 1em * var(--line-height));
}

.note footer {
	grid-column: 1/-1;
	padding: var(--space-s-m) var(--body-inline-padding);
	background-color: var(--shade-accent);
}

@media (min-width: 48rem) {
	.note h1,
	.footer-separator,
	.note footer,
	.note .body,
	.back-to-notes {
		grid-column: 2/-1;
	}

	.note .meta-info {
		--cluster-horizontal-alignment: end;
		flex-direction: column;
		/* grid-column: 1; */
		justify-self: end;
		translate: 0 2px;
	}

	.note .meta-info * {
		align-self: end;
	}

	.meta-separator {
		display: none;
	}
}

@media (min-width: 60rem) {
	.footer-separator,
	.note footer,
	.note .body,
	.back-to-notes {
		grid-column: 2/5;
	}
}
