.pagination a {
	--cluster-vertical-alignment: center;
	--cluster-gap: var(--space-2xs);

	position: relative;
	padding-block: var(--link-padding);
}

.pagination [data-direction="forwards"] {
	margin-inline-start: auto;
}
