/*
https://css-doodle.com/shapes/?rule=points%3A%20200%3B%0Ascale%3A%200.9%3B%0Ax%3A%20-sin(2.63t)%20%2F%205%3B%0Ay%3A%20-cos(t)%3B&color=%23fdfcfc
*/

:root {
	--pixelated-corners: polygon(
		0px 16%,
		8% 16%,
		8% 8%,
		16% 8%,
		16% 0px,
		calc(100% - 16%) 0px,
		calc(100% - 16%) 8%,
		calc(100% - 8%) 8%,
		calc(100% - 8%) 16%,
		100% 16%,
		100% calc(100% - 16%),
		calc(100% - 8%) calc(100% - 16%),
		calc(100% - 8%) calc(100% - 8%),
		calc(100% - 16%) calc(100% - 8%),
		calc(100% - 16%) 100%,
		16% 100%,
		16% calc(100% - 8%),
		8% calc(100% - 8%),
		8% calc(100% - 16%),
		0px calc(100% - 16%)
	);

	--swirl: polygon(
		50% 95%,
		49.2572% 94.9778%,
		48.5195% 94.9112%,
		47.7919% 94.8003%,
		47.0794% 94.6452%,
		46.3868% 94.446%,
		45.7188% 94.2029%,
		45.0801% 93.9163%,
		44.4749% 93.5862%,
		43.9074% 93.2132%,
		43.3815% 92.7975%,
		42.9008% 92.3396%,
		42.4684% 91.8399%,
		42.0875% 91.299%,
		41.7606% 90.7172%,
		41.4898% 90.0953%,
		41.2772% 89.4338%,
		41.124% 88.7334%,
		41.0314% 87.9948%,
		41% 87.2186%,
		41.03% 86.4058%,
		41.1212% 85.557%,
		41.273% 84.6731%,
		41.4843% 83.755%,
		41.7537% 82.8036%,
		42.0794% 81.8198%,
		42.4592% 80.8046%,
		42.8903% 79.759%,
		43.37% 78.6841%,
		43.8949% 77.5808%,
		44.4615% 76.4503%,
		45.0659% 75.2938%,
		45.7039% 74.1122%,
		46.3713% 72.9069%,
		47.0634% 71.6789%,
		47.7755% 70.4296%,
		48.5028% 69.1601%,
		49.2403% 67.8717%,
		49.983% 66.5656%,
		50.7259% 65.2432%,
		51.4637% 63.9058%,
		52.1916% 62.5546%,
		52.9046% 61.191%,
		53.5977% 59.8164%,
		54.2662% 58.4322%,
		54.9057% 57.0396%,
		55.5117% 55.64%,
		56.0801% 54.2349%,
		56.607% 52.8256%,
		57.0888% 51.4135%,
		57.5223% 50%,
		57.9044% 48.5865%,
		58.2326% 47.1744%,
		58.5046% 45.7651%,
		58.7187% 44.36%,
		58.8732% 42.9604%,
		58.9672% 41.5678%,
		59% 40.1836%,
		58.9714% 38.809%,
		58.8815% 37.4454%,
		58.7311% 36.0942%,
		58.5212% 34.7568%,
		58.253% 33.4344%,
		57.9286% 32.1283%,
		57.5501% 30.8399%,
		57.1201% 29.5704%,
		56.6414% 28.3211%,
		56.1175% 27.0931%,
		55.5518% 25.8878%,
		54.9483% 24.7062%,
		54.311% 23.5497%,
		53.6443% 22.4192%,
		52.9527% 21.3159%,
		52.2409% 20.241%,
		51.5139% 19.1954%,
		50.7766% 18.1802%,
		50.0339% 17.1964%,
		49.291% 16.245%,
		48.553% 15.3269%,
		47.8248% 14.443%,
		47.1115% 13.5942%,
		46.4179% 12.7814%,
		45.7487% 12.0052%,
		45.1085% 11.2666%,
		44.5017% 10.5662%,
		43.9324% 9.90471%,
		43.4045% 9.28278%,
		42.9217% 8.70104%,
		42.4871% 8.16006%,
		42.1037% 7.66037%,
		41.7743% 7.20246%,
		41.5009% 6.78678%,
		41.2856% 6.41376%,
		41.1297% 6.08375%,
		41.0343% 5.79707%,
		41.0001% 5.55402%,
		41.0273% 5.35484%,
		41.1157% 5.19971%,
		41.2648% 5.0888%,
		41.4734% 5.0222%,
		41.7402% 5%,
		42.0634% 5.0222%,
		42.4407% 5.0888%,
		42.8696% 5.19971%,
		43.3471% 5.35484%,
		43.8701% 5.55402%,
		44.4348% 5.79707%,
		45.0375% 6.08375%,
		45.6741% 6.41376%,
		46.3402% 6.78678%,
		47.0313% 7.20246%,
		47.7426% 7.66037%,
		48.4694% 8.16006%,
		49.2065% 8.70104%,
		49.9491% 9.28278%,
		50.692% 9.90471%,
		51.4302% 10.5662%,
		52.1587% 11.2666%,
		52.8724% 12.0052%,
		53.5665% 12.7814%,
		54.2363% 13.5942%,
		54.8772% 14.443%,
		55.4848% 15.3269%,
		56.055% 16.245%,
		56.5839% 17.1964%,
		57.0679% 18.1802%,
		57.5036% 19.1954%,
		57.8881% 20.241%,
		58.2188% 21.3159%,
		58.4935% 22.4192%,
		58.7102% 23.5497%,
		58.8674% 24.7062%,
		58.9642% 25.8878%,
		58.9998% 27.0931%,
		58.974% 28.3211%,
		58.887% 29.5704%,
		58.7393% 30.8399%,
		58.532% 32.1283%,
		58.2665% 33.4344%,
		57.9446% 34.7568%,
		57.5685% 36.0942%,
		57.1408% 37.4454%,
		56.6643% 38.809%,
		56.1423% 40.1836%,
		55.5785% 41.5678%,
		54.9766% 42.9604%,
		54.3407% 44.36%,
		53.6753% 45.7651%,
		52.9847% 47.1744%,
		52.2738% 48.5865%,
		51.5474% 50%,
		50.8104% 51.4135%,
		50.0679% 52.8256%,
		49.3249% 54.2349%,
		48.5865% 55.64%,
		47.8578% 57.0396%,
		47.1437% 58.4322%,
		46.449% 59.8164%,
		45.7786% 61.191%,
		45.137% 62.5546%,
		44.5286% 63.9058%,
		43.9575% 65.2432%,
		43.4277% 66.5656%,
		42.9427% 67.8717%,
		42.5058% 69.1601%,
		42.1201% 70.4296%,
		41.7881% 71.6789%,
		41.5121% 72.9069%,
		41.2941% 74.1122%,
		41.1355% 75.2938%,
		41.0373% 76.4503%,
		41.0003% 77.5808%,
		41.0247% 78.6841%,
		41.1104% 79.759%,
		41.2567% 80.8046%,
		41.4626% 81.8198%,
		41.7268% 82.8036%,
		42.0474% 83.755%,
		42.4223% 84.6731%,
		42.8489% 85.557%,
		43.3243% 86.4058%,
		43.8453% 87.2186%,
		44.4082% 87.9948%,
		45.0093% 88.7334%,
		45.6444% 89.4338%,
		46.3093% 90.0953%,
		46.9993% 90.7172%,
		47.7098% 91.299%,
		48.4359% 91.8399%,
		49.1727% 92.3396%,
		49.9152% 92.7975%,
		50.6582% 93.2132%,
		51.3967% 93.5862%,
		52.1257% 93.9163%,
		52.8402% 94.2029%,
		53.5354% 94.446%,
		54.2064% 94.6452%,
		54.8487% 94.8003%,
		55.4579% 94.9112%,
		56.0299% 94.9778%
	);
}
