.vh {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.step--1 {
	font-size: var(--step--1);
	letter-spacing: var(--letter-spacing-step--1);
}

.step--2 {
	font-size: var(--step--2);
	letter-spacing: var(--letter-spacing-step--2);
}

.color\:secondary {
	color: var(--color-neutral-text-secondary);
}

.text-wrap\:balance {
	text-wrap: balance;
}

.text-wrap\:pretty {
	text-wrap: pretty;
}

.line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
