{% set siteTitle = site.title %}
{% if customTitle %}
  {% set title = customTitle %}
{% endif %}
{%- if page.url == '/' -%}
  {%- set pageTitle = siteTitle -%}
{%- else -%}
  {%- set pageTitle = title + ' - ' + site.title -%}
{%- endif -%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ pageTitle }}</title>
  <!-- if js is available add class -->
  <script>document.documentElement.classList.add('has-js');</script>
  <!-- css -->
  <style>
    @font-face {
      font-family: "Golos Text";
      src: url("/assets/fonts/GolosText-VariableFont_wght-subset.woff2?{{ assetHash }}")
        format("woff2");
      font-display: swap;
    }

    @font-face {
      font-family: "Golos Text-fallback";
      size-adjust: 117.19999999999999%;
      src: local("Times New Roman");
    }

    :root {
      /* Variables for type */
      --font-plain: "Golos Text", "Golos Text-fallback", -apple-system, BlinkMacSystemFont, helvetica neue,
        helvetica, avenir next, avenir, segoe ui, roboto, noto, arial, sans-serif;

      --font-special: "Golos Text", "Golos Text-fallback", -apple-system, BlinkMacSystemFont,
        helvetica neue, helvetica, avenir next, avenir, segoe ui, roboto, noto,
        arial, sans-serif;

      --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
        Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol;

      --font-monospace: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco,
        Consolas, "Liberation Mono", "Courier New", monospace;
    }

    body {
      font-family: var(--font-plain);
    }
  </style>
  <link rel="stylesheet" href="/assets/css/style.css?{{ assetHash }}">
  <!-- preload scripts and fonts -->
  <link rel="preload" href="/assets/scripts/main-nav.js?{{ assetHash }}" as="script" fetchpriority="high">
  <!-- TODO: preload the image in the site header -->
  {# <link rel="preload" as="image" href="{{ developer.avatar.src }}?{{ assetHash }}"> #}
  <!-- TODO: check if the font needs to be preloaded -->
  <link rel="preload" href="/assets/fonts/GolosText-VariableFont_wght-subset.woff2?{{ assetHash }}" as="font" type="font/woff2" crossorigin="">
  <!-- async JS -->
  <script src="/assets/scripts/main-nav.js?{{ assetHash }}" defer></script>
  <!-- meta information -->
  {%- include "partials/meta-info.html" -%}
  <!-- view transitions -->
  <meta name="view-transition" content="same-origin" />
</head>

<body id="top">
  <a href="#main" class="skip-to-main">Skip to content</a>
  {% include "partials/header.html" %}
  <main id="main" tabindex="-1">
    {%- block content -%}
      This page is under maintenance.
    {%- endblock -%}
  </main>
  {% include "partials/footer.html" %}
  {% if page.url == "/" %}
    <div class="god-rays" aria-hidden="true"></div>
  {% endif %}
</body>
</html>