{%- extends "layouts/base.njk" -%}

{%- css "page-specific-styles" %}
  {% include "css/likes.css" %}
  {% include "css/tags-list.css" %}
{%- endcss %}

{%- block content -%}
  <div class="likes archive grid">
    <header class="stack fade">
      <h1>{{ title }}</h1>
      <p class="subtitle step--1 color:secondary text-wrap:balance">
        {{ subtitle }}
      </p>
    </header>
    <ol class="likes-list" role="list" reversed>
      {%- for item in collections.likes | reverse -%}
        <li class="grid">
          <span class="icon-container">
            <span class="square"></span>
            {% include "partials/arrow.html" %}
          </span>
          <div class="link-container stack">
            <h2 class="heading-3">
              <a class="text-wrap:pretty" href="{{ item.data.url }}">
                {{ item.data.title -}}
              </a>
            </h2>
            {% if item.data.tags %}
              <ul
                class="tags-list cluster step--2"
                role="list"
                aria-label="Tags"
              >
                {% for tag in item.data.tags | sort %}
                  <li>#{{ tag }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </li>
      {%- endfor -%}
    </ol>
  </div>
{%- endblock -%}