{%- extends "layouts/base.njk" -%}

{%- block content -%}
  <div class="archive region">
    <header class="flow">
      <h1>{{ title }}</h1>
      <p class="subtitle step--1">{{ subtitle | addNbsp | safe }}</p>
      {{ content | safe }}
    </header>
    <ol role="list" reversed>
      {%- for item in collections.likes | reverse -%}
        <li>
          <a class href="{{ item.data.url }}">
            {{ item.data.title | safe -}}
          </a>
        </li>
      {%- endfor -%}
    </ol>
  </div>
{%- endblock -%}