{%- extends "layouts/base.njk" -%}

{%- block content -%}
	<div class="links links grid" data-type="archive">
		<header class="stack fade">
			<h1>{{ title }}</h1>
			<p class="subtitle step--1 color:secondary text-wrap:balance">{{ subtitle }}</p>
		</header>
		<ol class="link-list" role="list" reversed>
			{%- for item in collections.links | reverse -%}
				<li class="grid">
					{% include "partials/arrow.html" %}
					<div class="link-container">
						<a class="text-wrap:pretty" href="{{ item.data.url }}" data-type="link">
							{{- item.data.title -}}
						</a>
						{% if item.data.tags %}
							<ul class="tags-list cluster step--1" role="list" aria-label="Tags">
								{% for tag in item.data.tags | sort %}
									{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
									<li>
										<a href="{{ tagUrl }}">#{{ tag }}</a>
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</div>
				</li>
			{%- endfor -%}
		</ol>
	</div>
{%- endblock -%}
