{%- extends "layouts/base.njk" -%}

{%- css "page-specific-styles" %}
  {% include "css/note.css" %}
  {% include "css/tags-list.css" %}
  {% include "css/syntax-highlighter.css" %}
{%- endcss %}

{%- block content -%}
  <article class="note flow">
    <header class="stack">
      <h1 class="note-title fade">{{ title }}</h1>
      <time 
        class="step--2" 
        datetime={{ date | htmlDate }}
      >
        {{ date | readableDate | safe }}
      </time>
    </header>
    <div class="body flow">
      {{ content | safe }}
    </div>
    {% if tags %}
    <ul class="tags-list cluster step--2" role="list" aria-label="Tags">
      {% for tag in tags %}
        <li>#{{ tag }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {# <hr class="footer-separator"> #}
    <footer class="flow">
      <p>
        👋🏽 &nbsp;{{ site.description | md | safe }}
      </p>
      <p>
        If I seem like a good fit for your project, I'd love to <a href="mailto:{{ developer.email }}">get in touch</a> with you.
      </p>
    </footer>
    <a class="back-to-notes cluster step--1" href="/notes/">
      <span>
        {% include "partials/caret-arrow.html" %}
      </span>
      Back to Notes Archive
    </a>
  </article>
{%- endblock -%}