{%- extends "layouts/base.njk" -%}

{%- css "page-specific-styles" %}
  {% include "css/notes.css" %}
{%- endcss %}

{%- block content -%}
  <div
    class="notes archive column-layout region"
    data-columns="1,3"
  >
    <header class="flow">
      <h1>
        {{ title }}
        <small class="color:secondary step--2 fw400">
          p.{{ pagination.pageNumber + 1 }}
        </small>
      </h1>
      <p class="subtitle step--1 color:secondary">
        {{ subtitle | addNbsp | safe }}
      </p>
    </header>
    <ol role="list" reversed>
      {%- for item in notes -%}
        <li class="stack">
          <h2>
            <a class href="{{ item.url }}">
              {{ item.data.title | addNbsp | safe -}}
            </a>
          </h2>
          <p class="content color:secondary">
            {% if item.data.excerpt %}
              {{ item.data.excerpt | addNbsp | safe }}
            {% else %}
              {{ item.templateContent | excerpt | safe }}
            {% endif %}
          </p>
          <time 
            class="step--2 color:secondary" 
            datetime={{ item.date | htmlDate }}
          >
            {{ item.date | readableDate | safe }}
          </time>
        </li>
      {%- endfor -%}
    </ol>
    <footer>
      {% include "partials/pagination.html" %}
    </footer>
  </div>
{%- endblock -%}