{%- extends "layouts/base.njk" -%}

{%- css "page-specific-styles" %}
  {% include "css/notes-archive.css" %}
  {% include "css/notes-list.css" %}
  {% include "css/syntax-highlighter.css" %}
{%- endcss %}

{%- block content -%}
  <div class="notes archive grid">
    <header class="stack fade">
      <h1>{{ title }}</h1>
      <p class="subtitle step--1 color:secondary text-wrap:balance">
        {{ subtitle }}
      </p>
      <p class="page-number step--1 color:secondary">
        Page {{ pagination.pageNumber + 1 }} of {{pagination.hrefs.length}}
      </p>
    </header>
    <ol class="notes-list grid" role="list" reversed>
      {%- for item in notes -%}
        <li class="stack">
          <h2 class="heading-3 text-wrap:pretty">
            {{ item.data.title -}}
          </h2>
          <div class="excerpt step--1 color:secondary line-clamp">
            {% if item.data.excerpt %}
              <p>{{ item.data.excerpt }}</p>
            {% else %}
              <p>{{ item.content | excerpt | safe }}</p>
            {% endif %}
          </div>
          <a
            class="full-note cluster step--1 color:secondary"
            href="{{ item.url }}"
          >
            <span>Read full note</span>
            <span class="vh">: {{ item.data.title -}}</span>
            <span class="icon-container">
              <span class="square"></span>
              {% include "partials/arrow.html" %}
            </span>
          </a>
        </li>
      {%- endfor -%}
    </ol>
    <footer>
      {% include "partials/pagination.html" %}
    </footer>
  </div>
{%- endblock -%}