.contact {
	--stack-gap: var(--main-padding-block);
	min-block-size: 100%;

	.introduction {
		text-wrap: balance;
	}

	.body {
		margin-block-start: auto;
	}

	.info-container {
		--cluster-gap: var(--space-l-xl) var(--space-2xl-3xl);
	}

	.info-box {
		--stack-gap: 1ex 0;
	}
}
