@keyframes fade {
	100% {
		opacity: 1;
		/* filter: unset; */
	}
}

.fade {
	opacity: 0;
	/* filter: blur(var(--space-4xs)); */
	animation-name: fade;
	animation-duration: 999ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}
