/* Show a custom outline on :focus-visible */
:focus-visible {
	outline: var(--focus-border-thickness) solid var(--color-brand-border-primary);
	outline-offset: var(--focus-border-thickness);
	border-radius: var(--border-radius);
	text-decoration: none;
}

[tabindex='-1']:focus {
	outline: none;
}

/* 
	I've implemented a custom focus ring for these links
	so the default is not needed
*/
:is(.site-head, .site-footer) a:focus-visible,
:is(.back-to-notes, .view-all-tags):focus-visible {
	outline: none;
}

/* custom focus ring */
:where(.site-head, .site-footer) a:before,
:is(.back-to-notes, .view-all-tags):before {
	content: '';
	position: absolute;
	inset: var(--link-padding) calc(-1 / 4 * var(--gutter));
	border-radius: var(--border-radius);
	pointer-events: none;
	/* z-index: -1; */
}

/* adjusted to accomodate the image in the link  */
.site-logo:before {
	inset-inline-start: var(--focus-border-thickness);
}

:is(.site-head, .site-footer) a:focus-visible:before,
:is(.back-to-notes, .view-all-tags):focus-visible:before {
	outline: var(--focus-border-thickness) solid var(--color-brand-border-primary);
}
