:root {
	/* Variables for type */
	--font-plain: "Golos Text", -apple-system, BlinkMacSystemFont, helvetica neue,
		helvetica, avenir next, avenir, segoe ui, roboto, noto, arial, sans-serif;

	--font-special: "Golos Text", -apple-system, BlinkMacSystemFont,
		helvetica neue, helvetica, avenir next, avenir, segoe ui, roboto, noto,
		arial, sans-serif;

	--font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
		Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
		Segoe UI Emoji, Segoe UI Symbol;

	--font-monospace: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco,
		Consolas, "Liberation Mono", "Courier New", monospace;
}

@font-face {
	font-family: "Golos Text";
	src: url("/assets/fonts/GolosText-VariableFont_wght-subset.woff2?{{ assetHash }}")
		format("woff2");
	font-display: swap;
}
