:root {
	/* Variables for type */
	--measure: 60ch;
	--line-height-h1: 0.8;
	--line-height-h2: 1.2;
	--line-height-h3: 1.4;
	--line-height-body: 1.6;
	--letter-spacing-h1: -0.033em;
	--letter-spacing-step--1: 0.0125em;
	--letter-spacing-step--2: 0.05em;

	/* Variables for border */
	/* --border-radius: var(--space-3xs); */
	--border-radius: var(--space-4xs-3xs);
	--conditional-border-radius: clamp(
		0px,
		((100vw - var(--border-radius)) - 100%) * 9999,
		var(--border-radius)
	);
	--border-thickness: var(--space-5xs);
	/* --focus-border-thickness: min(0.125em, var(--space-4xs)); */
	--focus-border-thickness: var(--space-5xs);

	/* Variables for layout */
	--gutter: var(--space-s);
	--max-layout-width: 85rem;
	--min-layout-height: 100vh;
	--main-padding-block: var(--space-m-l);
	--link-padding: var(--space-xs-s);
}

@supports (min-height: 100svh) {
	:root {
		--min-layout-height: 100svh;
	}
}

/* https://andy-bell.co.uk/always-aim-high/ */
* {
	text-decoration-color: var(--text-decoration-color, currentColor);
	text-decoration-style: solid;
}

@supports (text-decoration-thickness: 1px) {
	* {
		text-decoration-thickness: var(--border-thickness);
	}
}

body {
	position: relative;
	display: grid;
	grid-template-areas: "header" "main" "footer";
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr;
	grid-gap: 0;

	padding-inline: var(--gutter);
	background-color: var(--color-neutral-bg-primary);
	color: var(--color-neutral-text-primary);

	font-family: var(--font-plain);
	font-size: var(--step-0);
	line-height: var(--line-height-body);
	font-feature-settings: "ss02" on, "zero";
	text-rendering: optimizeLegibility;

	> header {
		grid-area: header;
	}

	> footer {
		grid-area: footer;
	}
}

body > :is(main, header) {
	z-index: 1;
}

main {
	grid-area: main;
	padding-block: var(--main-padding-block);

	&:target {
		scroll-margin-block: calc(-1 * var(--border-thickness));
	}
}

h1,
h2,
.heading-2,
h3,
.heading-3,
th {
	font-weight: 500;
	font-family: var(--font-special);
}

@supports (text-wrap: balance) {
	h1,
	h2,
	h3 {
		text-wrap: balance;
	}
}

h1 {
	font-size: var(--step-display);
	line-height: var(--line-height-h1);
	letter-spacing: var(--letter-spacing-h1);
}

.heading-1 {
	font-size: var(--step-5);
	line-height: var(--line-height-h2);
	letter-spacing: normal;
}

h2,
.heading-2 {
	font-size: var(--step-3);
	line-height: var(--line-height-h2);
	letter-spacing: normal;
}

h3,
.heading-3 {
	font-size: var(--step-1);
	line-height: var(--line-height-h3);
	letter-spacing: normal;
}

p {
	max-inline-size: var(--measure);
	text-wrap: pretty;
}

/* Reset button styling */
button {
	/* all: unset; */
	touch-action: manipulation;
}

/* Basic link styling */
a {
	color: inherit;
	transition-property: color, text-decoration-color;
	transition-duration: 333ms;
	transition-timing-function: ease;
}

@supports (text-underline-offset: 1px) {
	a {
		text-underline-offset: max(0.1em, 3.6px);
	}
}

@supports (-webkit-tap-highlight-color: transparent) {
	a,
	button {
		-webkit-tap-highlight-color: transparent;
	}
}

/* Change the color on :hover and :focus */
:is(a, button):is(:hover, :focus) {
	--text-decoration-color: currentColor;
	color: var(--color-brand-text-primary);
}

/* remove transition when focused 
	because on focus outline is applied
	and I haven't transitioned the outline */
:is(a, button):focus {
	transition-duration: 0ms;
}

[href="mailto:hello@arpit.codes"] {
	-webkit-hyphens: initial;
	hyphens: initial;
}

hr {
	border: unset;
	block-size: var(--border-thickness);
	background-color: var(--color-neutral-border-secondary);
}

blockquote {
	display: grid;
	grid-template-columns: 3ch 1fr auto;
	gap: 0;

	> * {
		grid-column: 2/3;
	}
}

blockquote > * + * {
	margin-block-start: var(--flow-space, 1em);
}

blockquote:before,
blockquote:after {
	color: var(--color-brand-bg-primary);
	line-height: 0.8;
}

blockquote:before {
	content: open-quote;
	font-size: var(--step-5);
}

blockquote:after {
	content: close-quote;
	font-size: 0px;
	opacity: 0;

	line-height: 0;
	grid-column: 3;
	align-self: end;
}

em {
	color: var(--color-brand-text-primary);
}

strong {
	color: var(--color-brand-text-primary);
	font-weight: 400;
}

time {
	font-variant-numeric: tabular-nums;
}

sup,
sub {
	line-height: 1;
	font-variant-numeric: tabular-nums;
	font-family: var(--font-monospace);
}

del {
	--text-decoration-color: var(--color-brand-border-primary);
	text-decoration-thickness: 0.2em;
}

@supports (text-decoration-thickness: 1px) {
	del {
		text-decoration-thickness: 0.2em;
	}
}

pre {
	padding: var(--gutter);
	max-inline-size: calc(100vw - (2 * var(--gutter)));

	background-color: var(--code-bg, var(--color-neutral-bg-inverted));
	color: var(--code-text, var(--color-neutral-text-inverted));
	font-family: var(--font-monospace);
	overflow-x: auto;
	-webkit-font-smoothing: antialiased;

	> code {
		padding: 0;
		background-color: transparent;
		tab-size: 2;
	}
}

code {
	padding: 0.125ex 0.5ex;
	border-radius: var(--border-radius);
	background-color: var(--color-neutral-bg-secondary);
	font-size: 1rem;
	font-family: var(--font-monospace);
}

pre::-webkit-scrollbar {
	block-size: 1rem;
}

pre::-webkit-scrollbar-track {
	background-color: var(--scrollbar-track-color);
}

pre::-webkit-scrollbar-thumb {
	background-clip: padding-box;
	background-color: var(--scrollbar-thumb-color);
	border: 0.3125rem solid transparent;
	border-radius: 9999px;
	cursor: pointer;
}

pre > code::-webkit-scrollbar-corner,
pre > code::-webkit-scrollbar-track {
	background-color: var(--scrollbar-track-color);
}

table {
	min-inline-size: 100%;
	border-collapse: collapse;
	border-radius: var(--border-radius);
	overflow: hidden;
}

table,
thead + tbody,
tr + tr {
	outline: var(--border-thickness) solid var(--color-neutral-border-secondary);
}

thead {
	background-color: var(--color-neutral-bg-secondary);
}

th,
tr,
td {
	padding: var(--space-s-xs);
}

th {
	background-color: var(--shade-bg);
	text-align: start;
}

:target {
	scroll-margin-block: 1em;
}
