/* credit: https://codepen.io/TWilson/pen/jOdWqbZ */

:root {
	--stripes: repeating-linear-gradient(
		100deg,
		#fff 0%,
		#fff 7%,
		transparent 10%,
		transparent 12%,
		#fff 16%
	);
	--rainbow: repeating-linear-gradient(
		100deg,
		var(--god-ray-color) 10%,
		var(--god-ray-color) 20%,
		var(--god-ray-color) 30%
	);
	--ray-filter: blur(var(--space-2xs)) invert(100%);

	@media (--OSdark) {
		--stripes: repeating-linear-gradient(
			100deg,
			#000 0%,
			#000 7%,
			transparent 10%,
			transparent 12%,
			#000 16%
		);
		--ray-filter: blur(var(--space-2xs)) opacity(50%) saturate(200%);
	}
}

.god-rays {
	position: fixed;
	inset: 0;
	overflow: hidden;
	z-index: -1;

	block-size: 100%;
	background-image: var(--stripes), var(--rainbow);
	background-size: 300%, 200%;
	background-position:
		50% 50%,
		50% 50%;

	filter: var(--ray-filter);
	-webkit-mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);
	mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);
	pointer-events: none;
	opacity: 0.5;

	@media (--OSdark) {
		inset: -1em;
	}
}

.god-rays::after {
	content: '';
	position: absolute;
	inset: 0;
	background-image: var(--stripes), var(--rainbow);
	background-size: 200%, 100%;
	background-attachment: fixed;
	mix-blend-mode: difference;

	@media (--OSdark) {
		background-image: var(--stripes), var(--rainbow);
	}
}
