.home {
	--stack-gap: var(--main-padding-block);
	--stack-horizontal-alignment: stretch;
	min-block-size: 100%;

	h1 {
		--stack-gap: 0;
		--stack-horizontal-alignment: stretch;

		font-size: var(--fluid-47-217);
		pointer-events: none;
	}

	.body {
		margin-block-start: auto;
		animation-delay: 333ms;
	}

	.info-container {
		--cluster-gap: 1em var(--space-2xl-3xl);
		--cluster-vertical-alignment: last baseline;
	}

	@media (--md-n-above) {
		.info-container {
			flex-wrap: nowrap;
		}

		.info-container > * {
			/* max-inline-size to wrap the paragraphs in 3 lines */
			max-inline-size: 35ch;
			text-wrap: balance;
		}

		.cta {
			margin-inline-start: auto;
			text-align: end;
		}
	}
}

.english {
	text-align: center;
}

.local-lang {
	--cluster-horizontal-alignment: space-between;

	font-size: var(--fluid-8-35);
	font-weight: 400;
	letter-spacing: normal;
	translate: 0 43%;
}

[lang="ur"] {
	font-family: "Times New Roman";
}
