.flow > * + * {
	margin-block-start: var(--flow-space, 1em);
}

.cluster {
	display: flex;
	flex-wrap: var(--cluster-wrap, wrap);
	gap: var(--cluster-gap, 1em);
	justify-content: var(--cluster-horizontal-alignment, flex-start);
	align-items: var(--cluster-vertical-alignment, center);
}

.stack {
	display: flex;
	flex-direction: column;
	gap: var(--stack-gap, 1em);
	justify-content: var(--stack-vertical-alignment, flex-start);
	align-items: var(--stack-horizontal-alignment, flex-start);
}

.grid {
	display: grid;
	grid-gap: var(--row-gap, var(--grid-gap)) var(--column-gap, var(--grid-gap));
}
