.notes-list {
	display: contents;
}

.notes-list > li {
	--stack-gap: var(--space-2xs);

	position: relative;
	padding: var(--gutter);
	background-color: var(--color-neutral-bg-tertiary);
	outline: var(--border-thickness) solid var(--color-neutral-border-tertiary);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow-2);
	overflow: hidden;
}

.notes-list > li:has(a:focus-visible) {
	outline-width: var(--focus-border-thickness);
	outline-color: var(--color-brand-border-primary);
}

.notes-list > li:has(a:where(:hover, :focus-visible)) .note-title {
	color: var(--color-brand-text-primary);
}

.notes-list > li:has(a:hover) .note-title {
	transition: color 333ms ease;
}

.notes-list {
	.body {
		margin-block-end: calc(1em * var(--line-height-body));

		@supports (margin: 1lh) {
			margin-block-end: 1lh;
		}
	}

	.meta-data {
		--cluster-horizontal-alignment: space-between;
		margin-block-start: auto;
		align-self: stretch;
	}
}

.full-note {
	--cluster-gap: 0;

	&:after {
		content: "";
		position: absolute;
		inset: 0;
	}
}

.full-note:where(:hover, :focus-visible) {
	outline: none;

	.square {
		rotate: 90deg;
		scale: 0.8;
	}

	.arrow {
		opacity: 1;
		scale: 1;
	}
}
