.notes-container {
	min-block-size: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	gap: var(--main-padding-block);
}

.notes {
	--grid-min-item-size: min(20rem, calc(100vw - var(--gutter) - var(--gutter)));

	grid-template-columns: repeat(
		var(--grid-placement, auto-fill),
		minmax(var(--grid-min-item-size, 16rem), 1fr)
	);
}

.notes > header {
	--grid-gap: var(--space-s-xs);
	grid-template-columns: auto 1fr auto;
	align-items: center;

	&:before {
		content: "";
		grid-row: 1;
		grid-column: 2;
		block-size: 0px;

		border-block-start: var(--border-thickness) solid
			var(--color-neutral-border-secondary);
	}
}

.notes .subtitle {
	grid-column: 1/-1;
}

.page-number {
	grid-row: 1;
	grid-column: 3;
	justify-self: end;
}

/* magic number at which there are 2 columns */
@media (--notes-archive-multi-column) {
	.notes > header {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto 1fr;

		&:before {
			display: none;
		}
	}

	.page-number {
		grid-row: unset;
		grid-column: unset;
		align-self: start;
		justify-self: start;
	}
}
