.pagination {
	a {
		--cluster-vertical-alignment: center;
		--cluster-gap: var(--space-3xs);

		position: relative;
		align-self: end;
	}

	[data-direction='forwards'] {
		margin-inline-start: auto;
	}
}
