.skip-to-main {
	--_padding-block: calc(1 / 2 * var(--link-padding));
	--_padding-inline: var(--link-padding);

	display: block;
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: var(--gutter);
	padding: var(--_padding-block) var(--_padding-inline);

	background-color: var(--color-skip-to-main-bg);
	color: var(--color-skip-to-main-text);
	line-height: 1;
	outline-offset: 0;

	opacity: 0;
	transform: translateY(-100%);
	transition: transform 150ms ease;
	z-index: 999;
	-webkit-font-smoothing: antialiased;

	@media (--OSdark) {
		-webkit-font-smoothing: auto;
	}
}

.skip-to-main:focus-visible {
	inset-block-start: calc(var(--link-padding) - (2 * var(--focus-border-thickness)));
	color: var(--color-skip-to-main-text);
	outline-color: var(--color-skip-to-main-bg);
	opacity: 1;
	transform: translate(0);

	/* this needs to be added  to override a style in the global styles */
	transition: transform 150ms ease;
}
