/* syntax highlighter styles*/

code[class*="language"] {
	color: #ddd;
}

code[class*="language"] .comment {
	color: #707985;
}

code[class*="language"] .string {
	color: #f6a66c;
}

.highlight-line-active {
	--color: #3a3a3b;
}

.language-html .attr-name,
.language-jsx .attr-name,
.language-php .attr-name,
.language-svelte .attr-name {
	color: #c7d6ec;
}

.language-html .attr-equals,
.language-jsx .attr-equals,
.language-php .attr-equals,
.language-svelte .attr-equals {
	color: #59677b;
}

.language-html .doctype,
.language-html .tag,
.language-jsx .doctype,
.language-jsx .tag,
.language-php .doctype,
.language-php .tag,
.language-svelte .doctype,
.language-svelte .tag {
	color: #788ca8;
}

.language-html .doctype .punctuation:first-of-type,
.language-html .doctype .punctuation:last-of-type,
.language-html .tag .punctuation:first-of-type,
.language-html .tag .punctuation:last-of-type,
.language-jsx .doctype .punctuation:first-of-type,
.language-jsx .doctype .punctuation:last-of-type,
.language-jsx .tag .punctuation:first-of-type,
.language-jsx .tag .punctuation:last-of-type,
.language-php .doctype .punctuation:first-of-type,
.language-php .doctype .punctuation:last-of-type,
.language-php .tag .punctuation:first-of-type,
.language-php .tag .punctuation:last-of-type,
.language-svelte .doctype .punctuation:first-of-type,
.language-svelte .doctype .punctuation:last-of-type,
.language-svelte .tag .punctuation:first-of-type,
.language-svelte .tag .punctuation:last-of-type {
	color: #59677b;
}

.language-html .attr-value,
.language-html .attr-value .punctuation:last-of-type,
.language-html .attr-value .punctuation:nth-of-type(2),
.language-html .punctuation,
.language-jsx .attr-value,
.language-jsx .attr-value .punctuation:last-of-type,
.language-jsx .attr-value .punctuation:nth-of-type(2),
.language-jsx .punctuation,
.language-php .attr-value,
.language-php .attr-value .punctuation:last-of-type,
.language-php .attr-value .punctuation:nth-of-type(2),
.language-php .punctuation,
.language-svelte .attr-value,
.language-svelte .attr-value .punctuation:last-of-type,
.language-svelte .attr-value .punctuation:nth-of-type(2),
.language-svelte .punctuation {
	color: #f6a66c;
}

.language-diff-js .function-variable,
.language-diff-js .punctuation,
.language-javascript .function-variable,
.language-javascript .punctuation,
.language-js .function-variable,
.language-js .punctuation,
.language-jsx .function-variable,
.language-jsx .punctuation,
.language-php .function-variable,
.language-php .punctuation,
.language-svelte .function-variable,
.language-svelte .punctuation {
	color: #9c9c9c;
}

.language-diff-js .function,
.language-javascript .function,
.language-js .function,
.language-jsx .function,
.language-php .function,
.language-svelte .function {
	color: #85b7f6;
}

.language-diff-js .operator,
.language-javascript .operator,
.language-js .operator,
.language-jsx .operator,
.language-php .operator,
.language-svelte .operator {
	color: #8f9196;
}

.language-diff-js .constant,
.language-diff-js .keyword,
.language-javascript .constant,
.language-javascript .keyword,
.language-js .constant,
.language-js .keyword,
.language-jsx .constant,
.language-jsx .keyword,
.language-php .constant,
.language-php .keyword,
.language-svelte .constant,
.language-svelte .keyword {
	color: #f699d1;
}

.language-diff-js .boolean,
.language-javascript .boolean,
.language-js .boolean,
.language-jsx .boolean,
.language-php .boolean,
.language-svelte .boolean {
	color: #3aa0ce;
}

.language-diff-js .class-name,
.language-javascript .class-name,
.language-js .class-name,
.language-jsx .class-name,
.language-php .class-name,
.language-svelte .class-name {
	color: #f4db86;
}

.language-diff-js .number,
.language-javascript .number,
.language-js .number,
.language-jsx .number,
.language-php .number,
.language-svelte .number {
	color: #8eb771;
}

.language-jsx .class-name {
	color: #788ca8;
}

.language-jsx .token .punctuation {
	color: #59677b;
}

.language-jsx .spread .attr-value {
	color: #c7d6ec;
}

.language-css .selector {
	color: #ff93b8;
}

.language-css .rule {
	color: #e4d18a;
}

.language-css .punctuation {
	color: #777;
}

.language-css .property {
	color: #b7b7c0;
}

.language-css .atrule .property {
	color: #abb7f2;
}
