.tags {
	--stack-horizontal-alignment: stretch;
	min-block-size: 100%;

	.tags-list {
		margin-block-start: auto;
		max-inline-size: var(--measure);
	}
}

.tags-list {
	--cluster-gap: var(--space-3xs);

	a {
		display: inline-block;
		padding: 0.75ex 1.25ex;
		background-color: var(--color-neutral-bg-secondary);
		border-radius: 9999px;
		line-height: 1;
		text-decoration: none;
		transition-property: background-color, color;
	}

	a:where(:hover, :focus) {
		background-color: var(--color-brand-bg-primary);
		color: var(--color-brand-text-inverted);
		-webkit-font-smoothing: antialiased;
	}

	a:focus-visible {
		outline-offset: 0;
	}
}
