/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1360,18,1.25,7,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
	--step--1: clamp(0.8331rem, 0.8125rem + 0.1029vw, 0.9rem);
	--step-0: clamp(1rem, 0.9615rem + 0.1923vw, 1.125rem);
	--step-1: clamp(1.2rem, 1.1365rem + 0.3173vw, 1.4063rem);
	--step-2: clamp(1.44rem, 1.3421rem + 0.4894vw, 1.7581rem);
	--step-3: clamp(1.7281rem, 1.5837rem + 0.7221vw, 2.1975rem);
	--step-4: clamp(2.0738rem, 1.8666rem + 1.0356vw, 2.7469rem);
	--step-5: clamp(2.4881rem, 2.1974rem + 1.4538vw, 3.4331rem);
	--step-6: clamp(2.9863rem, 2.5847rem + 2.0077vw, 4.2913rem);
	--step-7: clamp(3.5831rem, 3.035rem + 2.7404vw, 5.3644rem);
}

:root {
	/* @link https://utopia.fyi/clamp/calculator?a=320,1360,12—13.5 */
	--step--2: clamp(0.75rem, 0.7212rem + 0.1442vw, 0.8438rem);

	/* @link https://utopia.fyi/clamp/calculator?a=320,1396,47—223 */
	--fluid-47-223: clamp(2.9375rem, -0.3339rem + 16.3569vw, 13.9375rem);

	/* @link https://utopia.fyi/clamp/calculator?a=320,1360,7.6—35 */
	--fluid-8-35: clamp(0.475rem, -0.0519rem + 2.6346vw, 2.1875rem);
}

:root {
	--step-display: var(--space-2xl-5xl);
}
