---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Arpit's Notes",
    "subtitle": "A feed of the latest notes on everything I'm learning and excited about",
    "language": "en",
		"url": "https://arpit.codes/"
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
	<title>{{ metadata.title }}</title>
	<subtitle>{{ metadata.subtitle }}</subtitle>
	<link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self" />
	<link href="{{ metadata.url }}" />
	<updated>{{ collections.notes | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<id>{{ metadata.url }}</id>
	<author>
		<name>{{ developer.name }}</name>
		<email>{{ developer.email }}</email>
	</author>
	{%- for note in collections.notes | reverse -%}
		{%- set absolutePostUrl = note.url | absoluteUrl(metadata.url) -%}
		<entry>
			<title>{{ note.data.title }}</title>
			<link href="{{ absolutePostUrl }}" />
			<updated>{{ note.date | dateToRfc3339 }}</updated>
			<id>{{ absolutePostUrl }}</id>
			<content xml:lang="{{ metadata.language }}" type="html"
				>{{ note.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content
			>
		</entry>
	{%- endfor -%}
</feed>
