<div class="logo-container cluster">
  <!-- TODO: optimise image and add alt text-->
  <img src="/icon-192.png" alt="">
  <a
    class="site-home"
    href="/"
    aria-label="Home"
    {{ helpers.getLinkActiveState("/", page.url) | safe }} 
  >
    {% if page.url == "/" %}
      Home
    {% else %}
      {{ site.title }}
    {% endif %}

    <span class="step--2" aria-hidden="true">
      {% if page.url == "/" %}
        [You are here]
        {# 👋🏽 #}
      {% else %}
        [Home]
      {% endif %}
    </span>
  </a>
</div>